<router-outlet></router-outlet>
<div class="main-content">
  <div class="fcloud">
    <div class="background-warp">

      <div class="x1">
        <div class="cloud"></div>
      </div>
      <div class="x2">
        <div class="cloud"></div>
      </div>
      <div class="x3">
        <div class="cloud"></div>
      </div>
      <div class="x4">
        <div class="cloud"></div>
      </div>
      <div class="x5">
        <div class="cloud"></div>
      </div> 
    </div>
  </div>
  <div class="content-weather">
    <div class="current-container">
      <app-current-weather #current></app-current-weather>
    </div>
    <div class="today-container">
      <app-today-weather [status]="current.morning"></app-today-weather>
    </div>
    <div class="future-container">
      <app-future-weather></app-future-weather>
    </div>
  </div>
</div>

<!-- (emitirCidade)="onMudouCidade($event) -->