// Conteúdo principal //
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  box-shadow: 5px 0 5px -5px #333;
  color: #fff;
  font: 300 1.2vw sans-serif;
}

// Conteúdo do current-weather //
.current-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60%;
  width: 100%;
}

// Conteúdo da Listaa //
.current-weather-list {
  display: inline-block;
  width: 90%;
  height: 25%;
}

// Ícone do tempo atual //

.img-current-icon{
  display: flex;
  justify-content: center;
  width: 100%;
}
.current-icon {
  width: 50%;
  margin: 0;
}

.current-wind-icon {
  width: 10%;
}

.current-humidity-icon {
  width: 10%;
}

.current-sunrise-icon {
  width: 10%;
}

.current-sunset-icon {
  width: 10%;
}

.text-current-city {
  font-size: 3vw;
}

// Descrição //
.text-current-weather {
  display: inline-block;
  font-size: 2vw;
  padding: 5%;
}

.text-current-sunrise {
  display: inline-block;
  font-size: 1.5vw;
  padding: 1.5%;
}

.text-current-sunset {
  display: inline-block;
  font-size: 1.5vw;
  padding: 1.5%;
}

// Temperatura //
.number-current-weather {
  font-size: 5vw;
  
}

// umidade //
.moist-current-weather {
  width: 100%;
}

// Velocidade do vento //
.text-current-wind {
  display: inline-block;
  font-size: 1.5vw;
  padding: 1.5%;
}
// Porcentagem de Humidade //
.text-current-humidity{
  display: inline-block;
  font-size: 1.5vw;
  padding: 1.5;
}

// Input de Pesquisa//

.input-city{
  margin-top: 5%;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 8%;
  color: white;
  box-shadow: 5px 0 5px -5px #333
}

.input-city input[type=text]{
  padding: 3%;
  font-size: 15px;
  border: none;
  float: left;
  width: 75%;
  background-color: rgba(0, 0, 0, 0.185);
  color: white;
  text-align: center;
}

.input-city button{
  float: left;
  width: 20%;
  padding: 5%;
  background: rgba(0, 0, 0, 0.185);
  font-size: 15px;
  border: none;
  cursor: pointer;
  
}

.input-city button:hover{
  background: #0b7dda;
}

.input-city::after{
  content: "";
  clear: both;
  display: table;
}

input:focus{
  outline:none;
}

button:focus{
  outline:none;
}

::placeholder{
  color:white;
}

i{
  color:white;
}